<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таксопарк "Город"</title>
    <link rel="stylesheet" href="../static/css/style.css">  <!-- Подключите ваш CSS файл -->
</head>
<body>
<header>
    <div class="container">
        <a href="/" class="logo">
            <img src="../static/images/logo.svg" width="50px" height="50px" alt="Логотип Таксопарка"> <!-- Замените на ваш логотип -->
        </a>
        <nav>
            <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Водителям</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="/order-taxi" class="btn btn-primary">Заказать такси</a></li>
            </ul>

        </nav>
    </div>
</header>

<main>
    <section class="hero">
        <div class="container">
            <img src="../static/images/logo.svg" width="500px" height="500px" alt="Логотип Таксопарка">
            <h1>Быстро, комфортно, надежно</h1>
            <p>Закажите такси в любое время суток.  Мы гарантируем профессиональное обслуживание и доступные цены.</p>
            <a href="/order-taxi" class="btn btn-primary btn-lg">Заказать такси</a>
        </div>
    </section>

    <section class="features">
        <div class="container">

            <div class="feature">
                <img src="static/images/fast.svg" alt="Быстро"> <!-- Замените на ваши иконки -->
                <h3>Быстрая подача</h3>
                <p>Мы доставим машину к вам в кратчайшие сроки.</p>
            </div>
            <div class="feature">
                <img src="static/images/comfort.svg" alt="Комфортно">
                <h3>Комфортабельные автомобили</h3>
                <p>Широкий выбор автомобилей на любой вкус.</p>
            </div>
            <div class="feature">
                <img src="static/images/reliable.svg" alt="Надежно">
                <h3>Безопасность</h3>
                <p>Все наши водители проходят тщательную проверку.</p>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <h2>О нас</h2>
            <p>Таксопарк "Город" – это надежный партнер для пассажиров и водителей. Мы работаем на рынке пассажирских перевозок уже много лет и  всегда стремимся к совершенству.</p>
        </div>
    </section>
</main>

<footer>
    <div class="container">
        <p>&copy; 2024 Таксопарк "Город". Все права защищены.</p>
    </div>
</footer>
</body>
</html>