
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о поездке</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }

        .container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
        }

        h1 {
            color: #333;
        }

        p {
            font-size: 18px;
            margin: 10px 0;
        }

        #licensePlate {
            font-weight: bold;
            font-size: 24px;
            margin: 20px 0;
        }

        #driverName {
            font-style: italic;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Информация о поездке</h1>
    <p id="carInfo">К вам едет {{.CarColor}} {{.CarFirmName}} {{.CarModel}}</p>
    <p id="licensePlate">{{.CarRegPlate}}</p>
    <p id="driverName">Водителя зовут {{.DriverName}}</p>
</div>
</body>
</html>